@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.5fr 3fr; 
    gap: 20px;
    height: calc(100vh - 40px); 
    box-sizing: border-box;
    padding: 20px;
    position: relative; 
}

.customer-info, .memo-section, .stt-content, .chat-section-readonly {
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff; 
    border-radius: 8px; 
    /* display: flex; */
    flex-direction: column;
    overflow: auto; 
}

.customer-info, .memo-section {
    max-height: 50vh;
}

.stt-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 50vh; 
    overflow: hidden; 
}

.stt-content .stt, .translation {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto; 
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.mic-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
    flex: 1; 
    margin: 0 5px; 
}

.customer-mic-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffb703;
    color: #fff;
    transition: background-color 0.3s;
    flex: 1; 
    margin: 0 5px; 
}

.mic-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.mic-button i {
    margin-right: 5px;
}

.mic-button:hover:not(:disabled) {
    background-color: #0056b3;
}

#transcription, #translation-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    border: 1px solid #ddd;
    flex-grow: 1;
    overflow-y: auto;
    font-family: 'Chosunilbo_myungjo', serif;
    font-size: 14px;
    line-height: 1.5;
}

.output-msg.customer {
    background-color: #e0f7fa; 
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    align-self: flex-start;
    max-width: 80%;
    word-break: break-word;
    text-align: right;
}

.output-msg.counselor {
    background-color: #e0f7e9; 
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    align-self: flex-end;
    max-width: 80%;
    word-break: break-word;
    text-align: left;
}

.interim-msg {
    font-style: italic;
    align-self: flex-end;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #e9ecef; 
    max-width: 80%;
    word-break: break-word;
}

.chatbot-response {
    align-self: flex-end;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #f8d7da;
    font-family: 'Chosunilbo_myungjo', serif;
    font-size: 14px;
    line-height: 1.5;
    max-width: 80%;
    word-break: break-word;
    text-align: left;
}

.recommended-answer {
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-top: 10px;
    font-family: 'Chosunilbo_myungjo', serif;
    font-size: 14px;
    line-height: 1.5;
}

.submit-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr); 
        gap: 20px;
        height: auto;
    }

    .customer-info,
    .memo-section,
    .stt-content,
    .chat-section-readonly {
        grid-column: 1 / 2;
        grid-row: auto;
    }

    .submit-container {
        grid-column: 1 / 2;
        justify-self: center; 
        align-self: start; 
    }
}

form ul {
    list-style-type: none;
    padding: 0;
}

form ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

form ul li label {
    margin-right: 10px;
    font-weight: bold;
}

form ul li input[type="text"],
form ul li input[type="date"],
form ul li input[type="tel"] {
    flex-grow: 1;
    padding: 8px;
    box-sizing: border-box;
}

.buttons {
    margin-top: 10px;
}

.buttons input[type="button"],
.buttons input[type="reset"] {
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buttons input[type="button"]:hover,
.buttons input[type="reset"]:hover {
    background-color: #0056b3;
}
