@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'GmarketSansMedium', Arial, sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #f5f7fb;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes at least full viewport height */
}

.admin-page {
    background-color: #58b0e3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.admin-page a {
    text-decoration: none;
    color: white;
    display: block;
}

.admin-page:hover {
    background-color: #0056b3;
}

.container-fuild {
    /* 헤더 및 폼 사이드 간격 */
    /* margin: 0 10em; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* 헤더와 사이드바 사이의 간격 */
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    /* 네이비 색상 */
    color: white;
    /* 텍스트 색상 */
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    /* 요소 사이에 간격 추가 */
}

.logout {
    cursor: pointer;
    background-color: #e71d36;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout a {
    text-decoration: none;
    color: white;
    display: block;
}

.logout:hover {
    background-color: #2c3e50;
}

.footer {
    background-color: #ffffff;
    text-align: center;
    left: 0;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    flex-shrink: 0; /* Prevents footer from shrinking */
}

.footer-content {
    text-align: center;
    font-size: 12px;
    color: #999;
}

.footer-content a {
    text-decoration: none;
    color: #007bff;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin: 5px 0;
}
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 71px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.dashboard > button {
    width: 90px;
}


form {
    height: 100%;
    cursor: default;
}

div {
    padding: 5px;
}

.nev-form {
    height: 20px;
    padding-left: inherit;
    margin-bottom: -5px;
}

.dashboard {
    margin: 0;
    padding: 0;
    display: inline;
}

.dashboard > div > ul > li {
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
}



.styled-table thead tr {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    height: 5em;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #2c3e50;
}

.styled-table tbody tr:hover {
    background-color: #f3f3f3;
}


.styled-table-deail tbody th {
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
}

.styled-table-deail th,
.styled-table-deail td {
    padding: 12px 15px;
}

.styled-table-deail tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table-deail tbody tr:last-of-type {
    border-bottom: 2px solid #2c3e50;
}


/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.pagination .step-links a {
    margin: 0 5px;
    text-decoration: none;
}


.my-span {
    border: none !important;
}

.btn-outline-primary {
    border-color: #2c3e50 !important;
    color: #2c3e50 !important;
}

.btn-outline-primary:hover {
    background-color: #2c3e50 !important;
    border-color: #2c3e50 !important;
    color: white !important;
}

.btn-primary {
    background-color: #2c3e50 !important;
    border-color: #2c3e50 !important;
}

.form-control {
    width: 300px;
}
