body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* 화면 전체 높이를 채우도록 설정 */
}

.container-fluid {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #edf2f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2d42;
    color: white;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px 20px 0px 20px;
}

.company-name {
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right .profile-info {
    font-size: 16px;
}

.header-right .logout {
    cursor: pointer;
    background-color: #2EC4B6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-decoration: none;
}

.header-right .logout a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: white; /* 링크 텍스트 색상 흰색으로 설정 */
    display: block; /* 전체 영역을 클릭할 수 있도록 설정 */
}

.header-right .logout:hover {
    background-color: #E71D36;
    color: white;
}

.header-right .logout a:hover {
    color: black; /* 호버 시 링크 텍스트 색상 검정으로 설정 */
}

.main-content-wrapper {
    display: flex;
    flex: 1;
    gap: 20px;
    padding: 20px;
}

.sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #2b2d42;
}

.menu, .settings {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* 경계선 추가 */
}

/* .sidebar ul li:hover {
    background-color: #8d99ae;
    color: white;
} */

.sidebar ul li a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    width: 100%;
}

.sidebar ul li.active {
    background-color: #2EC4B6;
    color: white;
    font-weight: bold;
}

.sidebar ul li.active a {
    color: white;
}

.icon {
    margin-right: 10px;
    font-size: 18px; /* 아이콘 크기 조정 */
}

.accordion .accordion-toggle {
    cursor: pointer;
}

.accordion-content {
    display: none;
    flex-direction: column;
}

.accordion-content.show {
    display: flex;
}


.accordion-content ul {
    list-style-type: none; /* 리스트 데코레이터 제거 */
    padding: 0;
    margin: 0;
}


.accordion-content li {
    border-bottom: 1px solid #e0e0e0; /* 각 항목에 경계선 추가 */
    padding: 10px; /* 패딩 추가 */
    background-color: #f9f9f9; /* 배경색 추가 */
}


.accordion-content li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 15px; /* 패딩 조정 */
    border-radius: 0;
}

.accordion-content li a:hover {
    background-color: #2EC4B6;
    color: white; /* 텍스트 색상을 흰색으로 설정 */
}


.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.footer {
    background-color: #2b2d42;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
    margin: 0 20px 20px 20px;
    flex-shrink: 0;
    position: relative;
    bottom: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center; /* 풋터 내용 가운데 정렬 */
}

ul.menu, ul.accordion-content, ul.settings, .accordion-content li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}