@font-face {
    font-family: "GmarketSansMedium";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* 기본 폰트 설정 */
body {
    width: 100%;
    height: 100%;
    font-family: "GmarketSansMedium", Arial, sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #f5f7fb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Ensures the body takes at least full viewport height */
}

.main-content {
    /* margin-top: 80px;  */
    padding: 20px;
    flex-grow: 1;
    /* Ensures main content takes available space */
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: whitesmoke;
}

img.ezcs-logo {
    width: 100px;
    height: auto;
    margin: 10px 20px 20px 20px;
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    padding: 0px 20px 20px 20px;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    transition: width 0.3s ease-in-out;
    z-index: 1000;
    overflow-x: hidden;
}
.sidebar.collapsed {
    width: 100px;
}
.sidebar .menu .text {
    display: inline;
    white-space: nowrap;
}
.sidebar.collapsed .text {
    display: none;
}
.sidebar.expanding .text {
    display: inline;
    /* opacity: 0;
    transition: opacity 0.3s ease; */
}
.sidebar .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px; /* 아이콘 수직 정렬 */
    font-size: 20px; /* 아이콘 크기 고정 */
    transition: none; /* 아이콘 크기나 위치의 변화 애니메이션 제거 */
}
.sidebar, .sidebar .icon {
    /* transition: all 0.3s ease-in-out; */
    transition: width 0.3s ease-in-out, margin-left 0.3s ease-in-out; /* 아이콘 위치의 변화를 부드럽게 */
}
.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.menu-title {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .menu li {
    margin: 15px 0;
}

.sidebar .menu a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background 0.3s;
}

.sidebar .menu a:hover {
    background-color: #f0f0f0;
}

.sidebar .menu .icon {
    margin-right: 10px;
}

.icon {
    padding-right: 5px;
    padding-left: 5px;
}
.submenu {
    height: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.has-submenu:hover .submenu {
    height: auto;
    opacity: 1;
    padding: 10px;
}
.menu > li {
    position: relative;
}
.submenu {
    position: relative; /* 다른 메뉴를 밀어내도록 설정 */
}

.sidebar .menu .submenu {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    display: block;
}

.sidebar .menu .submenu li {
    margin: 10px 0;
}

.sidebar .menu .submenu a {
    padding: 5px 15px;
}

.sidebar .menu .submenu a.active,
.sidebar .menu .has-submenu a.active {
    color: #1c90f3;
    font-weight: bold;
}

.sidebar .menu a.active {
    color: #1c90f3;
    font-weight: bold;
}

.has-submenu>a::after {
    content: none;
}

.content {
    flex-grow: 1;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: margin-left 0.3s ease;
}
.content.expanded {
    margin-left: 100px; /* 사이드바가 축소되었을 때의 크기 */
}
.header {
    /* display: flex; */
    justify-content: flex-end;
    /* align-items: center; */
    /* padding: 0px; */
    /* background-color: #ffffff; */
    border-bottom: 1px solid #e0e0e0;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header-right.expanded {
    /* width: calc(100% - 100px); 사이드바가 축소되었을 때의 크기 */
    width: 100%; /* 사이드바가 축소되었을 때의 크기 */
}

.profile-info {
    font-size: 16px;
    margin-right: auto;
    padding: 0px 0px 0px 30px;
}
.admin-page,
.logout {
    display: flex;
    align-self: center;
}
.admin-page {
    background-color: #58b0e3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.admin-page a {
    text-decoration: none;
    color: white;
    display: block;
}

.admin-page:hover {
    background-color: #0056b3;
}

.logout {
    cursor: pointer;
    background-color: #2ec4b6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.logout a {
    text-decoration: none;
    color: white;
    display: block;
}

.logout:hover {
    background-color: #e71d36;
}

.footer {
    background-color: #ffffff;
    text-align: center;
    width: calc(100% - 40px);
    left: 0;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    margin-left: 20px;
    flex-shrink: 0;
    /* Prevents footer from shrinking */
}

.footer-content {
    text-align: center;
    font-size: 12px;
    color: #999;
}

.footer-content a {
    text-decoration: none;
    color: #007bff;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin: 5px 0;
}
.sidebar-toggle {
    background-color: white;
    color: black;
    border: none;
    padding: 15px 15px 15px 15px;    
}
/* .sidebar-toggle {
    display: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.sidebar-toggle:hover {
    background-color: #0056b3;
} */

@media (max-width: 1366px) {
    .sidebar {
        width: 250px;
    }

    .content {
        margin-left: 250px;
    }

    .main-content {
        margin-left: 0px;
    }

    .footer {
        width: calc(100% - 20px);
    }

    .header-right {
        /* flex-direction: column; */
        align-items: flex-end;
    }
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar-toggle {
        display: block;
    }

    .content {
        margin-left: 0;
    }

    .main-content {
        margin-left: 0;
    }

    .footer {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-info {
        padding-left: 0;
    }

    .logout {
        padding: 5px 10px;
    }

    .main-content {
        padding: 10px;
    }
}

.noneDataRow {
    text-align: center;
}

.search-container ul {
    padding: 0;
}

.search-container ul li {
    display: inline-block;
    list-style: none;
}

.search-container ul li select,
.search-container ul li span,
.search-container ul li input[type="date"],
.search-container ul li input[type="text"],
.search-container ul li input[type="submit"],
.search-container ul li input[type="button"] {
    width: fit-content;
    height: 3em;
}

.search-container ul li input[type="submit"],
.search-container ul li input[type="button"] {
    background-color: #58b0e3;
    border-color: #58b0e3;
}

.search-container ul li span {
    border: none;
}

/* AI상담페이지 */
.main-content {
    display: block;
}

.all-div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align-last: center;
    height: fit-content;
}

.form-row {
    display: flex;
    align-items: center;
}

.form-row label {
    flex: 0 0 80px;
}

.form-row input[type="text"],
.form-row input[type="date"],
.form-row input[type="tel"],
.form-row span {
    flex: 1;
}


@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .form-row label {
        text-align: left;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .form-row input[type="text"],
    .form-row input[type="date"],
    .form-row input[type="tel"],
    .form-row span {
        flex: none;
        width: 100%;
    }
}