@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 기본 폰트 설정 */
body {
    width: 100%;
    height: 100%;
    font-family: 'GmarketSansMedium', Arial, sans-serif !important;
    margin: 0;
    padding: 0;
    background-color: #f5f7fb;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures the body takes at least full viewport height */
}
.main-content {
    /* margin-top: 80px;  */
    padding: 20px;
    margin-left: 40px;
    flex-grow: 1; /* Ensures main content takes available space */
    display: flex;
    flex-direction: column;
    height: 100%; /* Adjusted to account for fixed header */
}
img.ezcs-logo {
    width: 100px;
    height: auto;
    margin: 20px 20px 20px 0px;
}

.sidebar {
    width: 200px;
    background-color: #ffffff;
    padding: 0px 20px 20px 20px;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.menu-title {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .menu li {
    margin: 15px 0;
}

.sidebar .menu a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background 0.3s;
}

.sidebar .menu a:hover {
    background-color: #f0f0f0;
}

.sidebar .menu .icon {
    margin-right: 10px;
}

.sidebar .menu .submenu {
    list-style: none;
    padding: 0 0 0 20px;
    margin: 0;
    display: block;
}

.sidebar .menu .submenu li {
    margin: 10px 0;
}

.sidebar .menu .submenu a {
    padding: 5px 15px;
}

.sidebar .menu .submenu a.active {
    color: #1c90f3;
    font-weight: bold;
}

.has-submenu > a::after {
    content: none;
}

.content {
    flex-grow: 1;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: margin-left 0.3s ease;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.profile-info {
    font-size: 16px;
    margin-right: auto;
    padding: 0px 0px 0px 30px;
}

.admin-page {
    background-color: #58b0e3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.admin-page a {
    text-decoration: none;
    color: white;
    display: block;
}

.admin-page:hover {
    background-color: #0056b3;
}

.logout {
    cursor: pointer;
    background-color: #2ec4b6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.logout a {
    text-decoration: none;
    color: white;
    display: block;
}

.logout:hover {
    background-color: #e71d36;
}

/* .main-content {
    margin-top: 20px;
    padding: 20px;
    margin-left: 40px;
    flex-grow: 1;
} */

.footer {
    background-color: #ffffff;
    text-align: center;
    width: calc(100% - 40px);
    left: 0;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    margin-left: 20px;
    flex-shrink: 0; /* Prevents footer from shrinking */
}

.footer-content {
    text-align: center;
    font-size: 12px;
    color: #999;
}

.footer-content a {
    text-decoration: none;
    color: #007bff;
}

.footer-content a:hover {
    text-decoration: underline;
}

.footer-content p {
    margin: 5px 0;
}

.sidebar-toggle {
    display: none;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.sidebar-toggle:hover {
    background-color: #0056b3;
}

@media (max-width: 1366px) {
    .sidebar {
        width: 160px;
    }

    .content {
        margin-left: 180px;
    }

    .main-content {
        margin-left: 20px;
    }

    .footer {
        width: calc(100% - 20px);
    }

    .header-right {
        flex-direction: column;
        align-items: flex-end;
    }
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar-toggle {
        display: block;
    }

    .content {
        margin-left: 0;
    }

    .main-content {
        margin-left: 0;
    }

    .footer {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-info {
        padding-left: 0;
    }

    .logout {
        padding: 5px 10px;
    }

    .main-content {
        padding: 10px;
    }
}
