body {
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f7fb;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* position: fixed;
    overflow: hidden; */
}

.sidebar {
    width: 250px;
    background-color: #ffffff;
    padding: 20px;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.menu-title {
    font-size: 12px;
    color: #999;
    margin-bottom: 10px;
}

.sidebar .menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .menu li {
    margin: 15px 0;
}

.sidebar .menu a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background 0.3s;
}

.sidebar .menu a:hover {
    background-color: #f0f0f0;
}

.sidebar .menu .icon {
    margin-right: 10px;
}

.sidebar .menu .submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.sidebar .menu .submenu li {
    margin: 10px 0;
}

.sidebar .menu .submenu a {
    padding: 5px 20px;
}

.sidebar .menu .submenu a.active {
    color: #1c90f3;
}

.has-submenu > a::after {
    content: '▼';
    font-size: 12px;
    margin-left: auto;
    transition: transform 0.3s;
}

.has-submenu.open > a::after {
    transform: rotate(180deg);
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 270px; /* 사이드바와 겹치지 않게 하기 위해 추가 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    margin-left: 20px;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-info {
    font-size: 16px;
}

.logout {
    cursor: pointer;
    background-color: #2EC4B6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.logout a {
    text-decoration: none;
    color: white;
    display: block;
}

.logout:hover {
    background-color: #E71D36;
}


.main-content {
    flex-grow: 1;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    margin-top: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
    overflow: hidden; /* Prevent overflow */
}

.footer {
    background-color: #ffffff;
    text-align: center;
    margin-top: 20px;
    width: calc(100% - 40px);
    bottom: 0;
    left: 0;
    padding: 10px;
    border-top: 1px solid #e0e0e0;
    margin-left: 20px;
    flex-shrink: 0;
}

.sidebar-toggle {
    display: none;
    background-color: #2EC4B6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1001;
}

.sidebar.active {
    transform: translateX(-100%);
}

@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.active {
        transform: translateX(0);
    }

    .sidebar-toggle {
        display: block;
        background-color: #2EC4B6;
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 1001;
        margin-right: auto; /* 왼쪽 정렬을 위한 속성 추가 */
    }

    .content {
        margin-left: 0;
    }

    .footer {
        width: 100%;
        left: 0;
    }
}
