<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
    {% load static %}
    <script src="{% static 'accounts\js\login.js' %}"></script>
    <title>관리자 로그인</title>
</head>

<style>
    .my_container {
        text-align: -webkit-center;
        position: relative;
        top: 150px;
    }
</style>

<body>
    <form id="adminLoginForm" data-url="{% url 'accounts:adminLogin' %}" data-csrf="{{ csrf_token }}">
        <div class="container-fluid my_container">
            <div>
                <h2>관리자 로그인</h2>
            </div>
            <div>
                <input type="text" id="adminUsername" name="adminUsername" placeholder="ID">
            </div>
            <div>
                <input type="password" id="adminPassword" name="adminPassword" placeholder=Password>
            </div>
            <div>
                <input type="button" value="관리자 로그인" class="btn btn-outline-primary" style="width: 5cm;" onclick="check_login()">
            </div>
            <div>
                <p><a href="{% url 'accounts:login' %}">사용자 로그인으로 돌아가기</a></p>
            </div>
        </div>
    </form>
</body>

</html>