<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'accounts/js/reset_password.js' %}"></script>
    <title>비밀번호 재설정</title>
</head>
<style>
    .my_container {
        text-align: -webkit-center;
        position: relative;
        top: 150px;
    }
</style>

<body>
    <form id="resetPasswordForm" data-url="{% url 'accounts:reset_password' %}" data-csrf="{{ csrf_token }}">
        <div class="container-fluid my_container">
            {% csrf_token %}
            <div>
                <h4>비밀번호 재설정🔒</h4>
            </div>
            <div>
                <input type="password" id="new_password" name="new_password" placeholder="새 비밀번호">
            </div>
            <div>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="비밀번호 확인">
            </div>
            <div>
                <input type="button" value="비밀번호 재설정" onclick="resetPassword()">
            </div>
        </div>
    </form>
</body>

</html>