{% extends 'accountsLayout.html' %}
{% block title %}비밀번호 재설정{% endblock %}


{% block content %}
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">비밀번호 재설정</h4>
            <form id="resetPasswordForm" class="validation-form" novalidate data-url="{% url 'accounts:reset_password' %}" data-csrf="{{ csrf_token }}">
                <input type="hidden" name="csrfmiddlewaretoken" id="csrf" value="{{ csrf_token }}">
                <div class="row">
                    <div class="col-md-6 mb-3 my-form">
                        <input type="password" id="new_password" name="new_password" placeholder="새 비밀번호">
                    </div>
                    <div class="col-md-6 mb-3 my-form">
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="비밀번호 확인">
                    </div>
                </div>
                <div>
                    <input type="button" value="비밀번호 재설정" class="btn btn-outline-primary" onclick="resetPassword()">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}