{% extends 'accountsLayout.html' %}
{% block title %}비밀번호 재설정{% endblock %}


{% block content %}
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">비밀번호 재설정</h4>
            <form id="resetPasswordForm" class="validation-form" novalidate data-url="{% url 'accounts:reset_password' %}" data-csrf="{{ csrf_token }}">
                <input type="hidden" name="csrf" id="csrf" value="{{ csrf_token }}">
                <div class="row">
                    <div class="col-md-6 mb-3 my-form">
                        <label for="name">ID</label>
                        <input type="text" class="form-control" id="forgotPasswordUsername" name="loginUsername" required>
                    </div>
                    <div class="col-md-6 mb-3 my-form">
                        <input type="password" id="new_password" name="new_password" placeholder="새 비밀번호">
                    </div>
                    <div class="col-md-6 mb-3 my-form">
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="비밀번호 확인">
                    </div>
                </div>
                <div>
                    <input type="button" value="비밀번호 재설정" class="btn btn-outline-primary" onclick="resetPassword()">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% load static %}
    <script src="{% static 'accounts/js/reset_password.js' %}"></script>

    <title>비밀번호 재설정</title>
</head>

<style>
    .my_container {
        text-align: -webkit-center;
        position: relative;
        top: 150px;
    }
</style>

<body>
    <div class="container-fluid my_container">
        <div>
            <h4>비밀번호 재설정🔒</h4>
        </div>
        <form id="resetPasswordForm" data-url="{% url 'accounts:reset_password' %}" data-csrf="{{ csrf_token }}">
            {% csrf_token %}
            <div>
                <input type="password" id="new_password" name="new_password" placeholder="새 비밀번호">
            </div>
            <div>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="비밀번호 확인">
            </div>
            <div>
                <input type="button" value="비밀번호 재설정" onclick="resetPassword()">
            </div>
        </form>
    </div>
</body>

</html> -->