{% extends 'accountsLayout.html' %}
{% block title %}비밀번호찾기{% endblock %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% load static %}
    <script src="{% static 'accounts/js/searchPW.js' %}"></script>

    <title>비밀번호 찾기</title>
</head>

<style>
    .my_container {
        text-align: -webkit-center;
        position: relative;
        top: 150px;
    }
</style>

<body>
    <div class="container-fluid my_container">
        <div>
            <h4>비밀번호를 잊으셨나요?🔒</h4>
        </div>
        <form id="forgotPasswordForm" data-url="{% url 'accounts:searchPW' %}" data-csrf="{{ csrf_token }}">
            {% csrf_token %}
            <div>
                <input type="text" id="forgotPasswordUsername" name="forgotPasswordUsername" placeholder="사용자 이름">
            </div>
            <div>
                <input type="date" id="birthdate" name="birthdate" placeholder="생년월일">
            </div>
            <div>
                <input type="tel" id="phone_number" name="phone_number" placeholder="전화번호">
            </div>
            <div>
                <input type="button" value="비밀번호 재설정 요청" onclick="sendResetRequest()">
            </div>
            <div>
                <p><a href="{% url 'accounts:login' %}"> 로그인으로 돌아가기</a></p>
            </div>
        </form>
    </div>
</body>

</html>
=======
{% block content %}
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">비밀번호 재설정</h4>
            <form id="searchPWForm" class="validation-form" novalidate data-url="{% url 'accounts:searchPW' %}" data-csrf="{{ csrf_token }}">
                <input type="hidden" name="csrf" id="csrf" value="{{ csrf_token }}">
                <div class="row">
                    <div class="col-md-6 mb-3 my-form">
                        <label for="name">ID</label>
                        <input type="text" class="form-control" id="forgotPasswordUsername" name="loginUsername" required>
                        <div id="usernameValid" class="valid-feedback"></div>
                        <div id="usernameError" class="invalid-feedback"></div>
                    </div>
                    <div class="col-md-6 mb-3 my-form">
                        <label for="birthdate">생년월일</label>
                        <input type="date" class="form-control" id="birthdate" name="birthdate" required>
                    </div>
                    <div class="col-md-6 mb-3 my-form">
                        <label for="phone_number">전화번호</label>
                        <input type="text" class="form-control" id="phone_number" name="phone_number" required>
                    </div>
                </div>
                <div>
                    <input type="button" value="휴대폰 인증" class="btn btn-outline-primary" onclick="sendResetRequest()">
                </div>
                <div>
                    <p><a href="{% url 'accounts:login' %}"> 로그인으로 돌아가기</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

