{% extends 'accountsLayout.html' %}
{% block title %}회원 가입{% endblock %}

{% block content %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">회원가입</h4>
            <form id="signupForm" class="validation-form" novalidate data-url="{% url 'accounts:signup' %}" data-csrf="{{ csrf_token }}">
                <input type="hidden" name="csrf" id="csrf" value="{{ csrf_token }}">
                <div class="row">
                    <div class="col-md-6 mb-3 my-form">
                        <label for="name">ID</label>
                        <input type="text" class="form-control" id="loginUsername" name="loginUsername" required onchange="nameChange(this);">
                        <div id="usernameVaild" class="valid-feedback"></div>
                        <div id="usernameError" class="invalid-feedback"></div>
                        <input type="hidden" name="usernameChk" id="usernameChk" value="">
                        <input type="hidden" name="usernameChkUrl" id="usernameChkUrl" value="{% url 'accounts:check_username' %}">
                        <input type="button" value="중복 확인" onclick="chkUserName();">
                    </div>
                </div>

                <div class="mb-3 my-form">
                    <label for="name">사용자 이름</label>
                    <input type="text" class="form-control" id="name" name="name" maxlength="10">
                    <div id="nameError" class="error-message"></div>
                </div>

                <div class="mb-3 my-form">
                    <label for="phone">핸드폰</label>
                    <input type="text" class="form-control" id="phone" name="phone" maxlength="11">
                    <div id="phoneError" class="error-message"></div>
                </div>

                <div class="mb-3 my-form">
                    <label for="email">email</label>
                    <div id="email">
                        <input type="email" class="form-control" id="emailLocal" name="emailLocal" maxlength="41">
                        <span style="font-size: 40px;">@</span>
                        <input type="text" class="form-control" name="emailDomain" id="emailDomain" value="naver.com" disabled>
                        <select id="emailDomainSelect" name="emailDomainSelect" class="form-control" onchange="emailDomainChange(this);">
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="daum.net">daum.net</option>
                            <option value="nate.com">nate.com</option>
                            <option value="">직접입력</option>
                        </select>
                        <div id="emailError" class="invalid-feedback"></div>
                    </div>
                </div>

                <div class="mb-3 my-form">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" name="password" maxlength="64">
                </div>

                <div class="mb-3 my-form">
                    <label for="pwChk">비밀번호 확인</label>
                    <input type="password" class="form-control" id="pwChk" name="pwChk" maxlength="64" onblur="pwBlur();">
                    <div id="passwordError" class="invalid-feedback"></div>
                </div>

                <div class="mb-3 my-form">
                    <div>
                        <label for="birthdate">생년월일</label>
                    </div>
                    <div>
                        <input type="date" id="birthdate" name="birthdate">
                    </div>
                </div>

                <div class="mb-3 my-form">
                    <label for="address" class="form-label">주소</label><br />
                    <div class="col-sm-10 address">
                        <input type="text" class="form-control mb-2" id="addressCode" name="addressCode" maxlength="10" placeholder="우편번호" style="width: 50%; display: inline;" disabled>
                        <input type="button" id="zipp_btn" class="btn btn-primary" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                        <input type="text" class="form-control mb-2" name="user_add1" id="UserAdd1" maxlength="40" placeholder="기본 주소를 입력하세요" required disabled>
                        <div class="invalid-feedback">주소를 입력해주시기 바랍니다!</div>
                        <input type="text" class="form-control" name="user_add2" id="UserAdd2" maxlength="40" placeholder="상세 주소를 입력하세요">
                        <div id="userAdd2Error" class="error-message"></div>
                    </div>
                </div>
                <hr class="mb-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="aggrement" required>
                    <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                </div>
                <div class="mb-4"></div>
                <div>
                    <input type="button" value="회원 요청" class="btn btn-outline-primary" style="width: 5cm;" onclick="signup()">
                </div>
                <div>
                    <p>
                        <a href="{% url 'accounts:login' %}"> 로그인으로 돌아가기</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}