{% extends 'accountsLayout.html' %}
{% block title %}회원 가입{% endblock %}

{% block content %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/static/js/execDaumPost.js"></script>
<style>
    .my-form {
        width: 80% !important;
    }

    .mb-3 {
        margin-bottom: 0 !important;
    }
</style>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h1 class="mb-3" style="text-align: center;">회원가입</h1>
            <form id="signupForm" class="validation-form" novalidate data-url="{% url 'accounts:signup' %}" data-csrf="{{ csrf_token }}">
                <input type="hidden" name="csrf" id="csrf" value="{{ csrf_token }}">
                <div class="mb-3 my-form">
                    <label for="name">ID</label>
                    <div style="display: flex;">
                        <div style="padding: 0; margin-right: 5px !important; width: 80% !important;">
                            <input type="text" class="form-control form-control-sm" id="loginUsername" name="loginUsername" maxlength="10" required onchange="nameChange(this);">
                            <div id="usernameVaild" class="valid-feedback"></div>
                            <div id="usernameError" class="invalid-feedback"></div>
                            <input type="hidden" name="usernameChk" id="usernameChk" value="">
                            <input type="hidden" name="usernameChkUrl" id="usernameChkUrl" value="{% url 'accounts:check_username' %}">
                        </div>
                        <div style="padding: 0;">
                            <input type="button" value="중복 확인" class="btn btn-sm btn-primary" onclick="chkUserName();">
                        </div>
                    </div>
                </div>

                <div class="mb-3 my-form">
                    <label for="name">이름</label>
                    <input type="text" class="form-control form-control-sm" id="name" name="name" maxlength="10" onblur="checkKoreanName(this);">
                    <div id="nameError" class="invalid-feedback"></div>
                </div>

                <div class="mb-3 my-form">
                    <label for="email">E-Mail</label>
                    <div id="email" style="display: flex;">
                        <input type="email" class="form-control form-control-sm" id="emailLocal" name="emailLocal" maxlength="20" onblur="chkEmail();">

                        <span>&nbsp;@&nbsp;</span>
                        <input type="text" class="form-control form-control-sm" name="emailDomain" id="emailDomain" value="naver.com" disabled>
                        <select id="emailDomainSelect" name="emailDomainSelect" class="form-control form-control-sm" onchange="emailDomainChange(this);">
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="daum.net">daum.net</option>
                            <option value="nate.com">nate.com</option>
                            <option value="">직접입력</option>
                        </select>
                        <input type="hidden" name="emailChk" id="emailChk" value="">
                        <input type="hidden" name="emailChkUrl" id="emailChkUrl" value="{% url 'accounts:check_email' %}">
                    </div>
                    <div id="emailError" class="invalid-feedback"></div>
                </div>

                <div class="mb-3 my-form">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control form-control-sm" id="password" name="password" maxlength="64">
                </div>

                <div class="mb-3 my-form">
                    <label for="pwChk">비밀번호 확인</label>
                    <input type="password" class="form-control form-control-sm" id="pwChk" name="pwChk" maxlength="64" onblur="pwBlur();">
                    <div id="passwordError" class="invalid-feedback"></div>
                </div>

                <div class="mb-3 my-form">
                    <label for="phone">전화 번호</label>
                    <input type="text" class="form-control form-control-sm" id="phone" name="phone" maxlength="11" onblur="chkPhoneNumber();">
                    <div id="phoneError" class="invalid-feedback"></div>
                    <input type="hidden" name="phoneChk" id="phoneChk" value="">
                    <input type="hidden" name="phoneChkUrl" id="phoneChkUrl" value="{% url 'accounts:check_phone' %}">
                </div>

                <div class="mb-3 my-form">
                    <label for="department">소속</label>
                    <input type="text" class="form-control form-control-sm" id="department" name="department" maxlength="30">
                    <div id="departmentError" class="invalid-feedback"></div>
                </div>

                <div class="mb-3 my-form">
                    <div>
                        <label for="birthdate">생년월일</label>
                    </div>
                    <div>
                        <input type="date" id="birthdate" name="birthdate">
                        <div id="birthdateError" class="invalid-feedback"></div>
                    </div>
                </div>

                <div class="mb-3 my-form">
                    <label for="address" class="form-label">주소</label><br />
                    <div class="col-sm-10 address">
                        <input type="text" class="form-control form-control-sm mb-2" id="addressCode" name="addressCode" maxlength="10" placeholder="우편번호" style="width: 50%; display: inline;" disabled>
                        <input type="button" id="zipp_btn" class="btn btn-sm btn-primary" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                        <input type="text" class="form-control form-control-sm mb-2" name="user_add1" id="UserAdd1" maxlength="40" placeholder="기본 주소를 입력하세요" required disabled>
                        <div class="invalid-feedback">주소를 입력해주시기 바랍니다!</div>
                        <input type="text" class="form-control form-control-sm" name="user_add2" id="UserAdd2" maxlength="40" placeholder="상세 주소를 입력하세요" onblur="chkAddressDetail();">
                        <div id="userAdd2Error" class="invalid-feedback"></div>
                    </div>
                </div>

                <hr class="mb-4">

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="aggrement" required>
                    <label class="custom-control-label" for="aggrement">개인정보 수집 및 이용에 동의합니다.</label>
                </div>
                <div style="text-align: center;">
                    <input type="button" value="회원 요청" class="btn btn-lg btn-outline-primary" style="width: 5cm;" onclick="signup()">
                    <!-- </div> -->
                </div>
                <div style="text-align: left; margin-bottom: -30px; padding-top: 30px;">
                    <p>
                        <a href="{% url 'accounts:login' %}"> 로그인으로 돌아가기</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}