/* 기존 스타일 */
.dashboard {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-input, .search-select, .search-button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

.search-input {
    flex: 2;
}

.search-select {
    flex: 1;
}

.search-button {
    background-color: #2ec4b6;
    color: white;
    cursor: pointer;
    border: none;
}

.search-button:hover {
    background-color: #007a63;
}

/* 테이블 스타일 */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    /* font-size: 18px; */
    text-align: left;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #58b0e3;
    color: black;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
    background-color: #f1f1f1;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #58b0e3;
}

/* 페이지네이션 스타일 */
.pagination {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-top: 20px
}

.pagination .step-links a {
    margin: 0 5px;
    text-decoration: none;
    color: #011627;
}

.pagination .step-links .current {
    margin: 0 5px;
    font-weight: bold;
    color: #011627;
}

/* 로더 스타일 */
.loader {
    text-align: center;
    font-size: 16px;
    color: #011627;
    margin: 20px 0;
}
