.quiz-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: relative; /* 상대 위치 설정 */
    min-height: 200px; /* 퀴즈 컨테이너의 최소 높이 설정 */
}
.question {
    margin-bottom: 20px;
}

.question p {
    font-size: 18px;
    font-weight: bold;
}

.question img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.answer-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.feedback {
    margin-bottom: 20px;
}

.feedback-correct {
    color: green;
    font-size: 18px;
    font-weight: bold;
}

.explanation {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.explanation-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.explanation-content {
    font-size: 16px;
    line-height: 1.5;
}

.submit-container {
    padding: 20px; /* 추가적인 패딩을 넣어 위치 조정 */
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}


.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}
