.dashboard {
    /* background-color: #f9f9f9; */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    width: 100%;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.log-detail,
.quiz-history {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.detail-item {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}

.detail-item p {
    margin: 0;
    font-size: 16px;
}

.detail-item strong {
    font-weight: bold;
}

.pass {
    color: green;
    font-weight: bold;
}

.fail {
    color: red;
    font-weight: bold;
}

.quiz-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    position: relative;
    min-height: 200px;
}
.question {
    margin-bottom: 20px;
}

.question p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.question img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.answer-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.feedback {
    margin: 10px 0 10px 5px;
}

.feedback-correct {
    color: green;
    font-size: 18px;
    font-weight: bold;
}

.feedback-incorrect {
    color: red;
    font-size: 18px;
    font-weight: bold;
}

.explanation {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 20px; /* 추가된 여백 */
}

.explanation-title,
.correct-answer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.explanation-content,
.correct-answer-content {
    font-size: 16px;
    line-height: 1.5;
}

.explanation-content {
    font-size: 16px;
    line-height: 1.5;
}

.correct-answer {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 40px; /* 추가된 여백 */
}

.submit-container {
    padding: 20px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.submit-button, .end-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2ec4b6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.end-button {
    text-decoration: none;
}

.submit-button:hover, .end-button:hover{
    background-color: #007a63;
}
