@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.dashboard {
    display: flex;
    height: 100vh;
    padding: 20px;
    gap: 20px;
    box-sizing: border-box;
    position: relative; 
}

.section {
    flex: 2;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.category-section {
    flex: 1; 
    display: flex;
    flex-direction: column;
}

.menu-header {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.category-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1; 
}

.category-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Chosunilbo_myungjo', serif;
}

.category-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.chat-header {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #007bff;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
}

.chat-box {
    flex-grow: 1;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    overflow-y: auto;
    white-space: pre-line;
    word-wrap: break-word;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    gap: 10px;
    padding-top: 10px;
    flex-shrink: 0;
}

textarea {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    resize: none;
    font-size: 14px;
    box-sizing: border-box;
}

#text-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#text-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.mic-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.mic-button i {
    margin-right: 5px;
}

.mic-button:hover:not(:disabled) {
    background-color: #0056b3;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.mic-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s;
    flex: 1; 
    margin: 0 5px; 
}

.button-container .mic-button {
    flex-grow: 1;
}

.message-bot {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    max-width: 80%;
    word-wrap: break-word;
    font-family: 'Chosunilbo_myungjo', serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #e0f7fa; 
    align-self: flex-start;
    text-align: left;
}

.message-user {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    max-width: 80%;
    word-wrap: break-word;
    font-family: 'Chosunilbo_myungjo', serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #f8d7da;
    color: black;
    align-self: flex-end;
    text-align: right;
}

.evaluated-message-bot {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    max-width: 80%;
    word-wrap: break-word;
    font-family: 'Chosunilbo_myungjo', serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #e0f7fa; 
    color: black;
    align-self: flex-start;
    text-align: left;
}

.output-msg.customer {
    background-color: #e0f7fa; 
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    align-self: flex-start;
    max-width: 80%;
    word-break: break-word;
    text-align: right;
}

.output-msg.counselor {
    background-color: #e0f7e9; 
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    align-self: flex-end;
    max-width: 80%;
    word-break: break-word;
    text-align: left;
}

.interim-msg {
    font-style: italic;
    align-self: flex-end;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 15px;
    background-color: #e9ecef; 
    max-width: 80%;
    word-break: break-word;
    color: black;
    font-family: 'Chosunilbo_myungjo', serif;
    font-size: 14px;
}

.submit-container {
    padding: 20px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.submit-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* 밑줄 제거 */
}

.submit-button:hover {
    background-color: #0056b3;
}

.no-underline {
    text-decoration: none;
}

.log-info {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Chosunilbo_myungjo', serif;
}

@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .input-container {
        flex-direction: column;
    }

    button#text-button {
        width: 100%;
    }

    .submit-container {
        justify-self: center; 
        align-self: start; 
    }
}
