{% extends 'base_manager.html' %}
{% block title %}가입승인{% endblock %}

{% block content %}

</script>
<form action="" method="POST">
    <div>
        <h2>가입 승인 페이지</h2>
    </div>
    <div class="dashboard">
        <div>
            <ul>
                <li>
                    <input type="text" class="form-control" id="seachText" name="seachText" placeholder="검색창">
                </li>
                <li>
                    <button>검색</button>
                </li>
            </ul>
        </div>
        <div>
            <td colspan="7">총 {{ data|length }}건</td>
        </div>
        <div>
            <table class="styled-table">
                <thead>
                    <th>회원번호</th>
                    <th>이름</th>
                    <th>아이디</th>
                    <th>E-mail</th>
                    <th>소속</th>
                    <th>역할</th>
                    <th>가입 요청 일자</th>
                    <th>회원 가입 승인</th>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr class="active-allow">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.소속}}</td>
                        <td>{{ item.is_superuser}}</td>
                        <td>{{ item.date_joined}}</td>
                        <td><a href="{% url 'management:approve_user' item.id %}" class="approve-btn">승인</a>
                            {% comment %} <a href="{% url 'management:reject_user' item.id %}" class="reject-btn">거부</a> {% endcomment %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}