{% extends 'base_manager.html' %}

{% block title %}직원관리{% endblock %}

{% block content %}
<script>
    window.onkeydown = function () {
        var kcode = event.keyCode;
        if (kcode == 116) {
            history.replaceState({}, null, location.pathname);
        }
    }
</script>
<form id="frm" name="frm" action="{% url 'management:dashboard' %}" method="GET">
    {% csrf_token %}
    <div class="dashboard">
        <div>
            <h2>직원 관리</h2>
        </div>
        <div>
            <ul>
                <li>
                    <select name="searchSelect" id="searchSelect">
                        <option value="all" {% if searchSelect == 'all' %}selected{% endif %}>전체</option>
                        <option value="name" {% if searchSelect == 'name' %}selected{% endif %}>이름</option>
                        <option value="id" {% if searchSelect == 'id' %}selected{% endif %}>아이디</option>
                        <option value="email" {% if searchSelect == 'email' %}selected{% endif %}>E-mail</option>
                    </select>
                </li>
                <li>
                    <input type="text" class="form-control" id="searchText" name="searchText" placeholder="검색창" value="{{ searchText }}">
                </li>
                <li>
                    <input type="submit" class="btn btn-primary" value="검색">
                </li>
            </ul>
        </div>
        <div>
            <td colspan="7">총 {{ data|length }}건</td>
        </div>
        <div>
            <table class="styled-table">
                <thead>
                    <th>순번</th>
                    <th>이름</th>
                    <th>아이디</th>
                    <th>E-mail</th>
                    <th>소속</th>
                    <th>역할</th>
                    <th>가입일자</th>
                </thead>
                <tbody>
                    {% if data %}
                    {% for item in data %}
                    <tr data-url="{% url 'management:detail' item.id %}" class="active-row">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.auth_user.first_name }}</td>
                        <td>{{ item.auth_user.username }}</td>
                        <td>{{ item.auth_user.email }}</td>
                        <td>{{ item.department }}</td>
                        <td>{{ item.auth_user.is_superuser }}</td>
                        <td>{{ item.auth_user.date_joined }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="7">데이터 없음</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}