{% extends 'base_manager.html' %}
{% block title %}직원정보 수정 페이지{% endblock %}

{% block content %}
<h2>직원 상세정보</h2>
<form action="" method="POST">
    <table class="styled-table-deail">
        <tbody>
            <tr>
                <th>이름</th>
                <td>{{ data.auth_user.first_name }}</td>
            </tr>
            <tr>
                <th>생년월일</th>
                <td>{{ data.birth_date }}</td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td>{{ data.phone_number }}</td>
            </tr>
            <tr>
                <th>ID</th>
                <td>{{ data.auth_user.username }}</td>
            </tr>
            <tr>
                <th>이메일</th>
                <td>{{ data.auth_user.email }}</td>
            </tr>
            <tr>
                <th>주소</th>
                <td>
                    ({{ data.address_code }})
                    {{ data.address }}
                    {{ data.address_detail }}
                </td>
            </tr>
            <tr>
                <th>소속</th>
                <td>{{ data.department }}</td>
            </tr>
            <tr>
                <th>역할</th>
                <td>
                    {% if data.auth_user.is_superuser %}
                    관리자
                    {% else %}
                    사용자
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>활동상태</th>
                <td>
                    {% if data.active_status == 0 %}
                    Inactive
                    {% elif data.active_status == 1 %}
                    Active
                    {% elif data.active_status == 2 %}
                    On Leave
                    {% elif data.active_status == 3 %}
                    Retired
                    {% else %}
                    Rejection
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="mb-3 d-flex justify-content-between">
        <a onclick="history.back()" class="btn btn-lg btn-primary flex-grow-1 me-2" style="max-width: fit-content;">뒤로가기</a>
        <a href="{% url 'management:edit' data.id %}" class="btn btn-lg btn-primary flex-grow-1" style="max-width: fit-content;">수정하기</a>
    </div>
</form>
<script>
    function chagneSelect(obj) {
        $("#active_status").val(obj.value);
    }
</script>
{% endblock %}