{% extends 'base_manager.html' %}
{% block title %}Edit User{% endblock %}

{% block content %}
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/static/js/execDaumPost.js"></script>
{% load static %}
<script src="{% static 'accounts\js\signup.js' %}"></script>
<h2>직원정보 수정</h2>
<form id="frm" action="{% url 'management:edit' user.id flag %}" method="POST">
    {% csrf_token %}
    <table class="styled-table-deail">
        <colgroup>
            <col width="15%">
            <col width="*">
        </colgroup>
        <tbody>
            <tr>
                <th>ID</th>
                <td style="display: flex;">
                    <div style="padding: 0;">
                        <input type="text" class="form-control form-control-sm" id="loginUsername" name="loginUsername" value="{{ user.auth_user.username }}" maxlength="10" required onchange="nameChange(this);" style="margin-right: 5px;">
                        <div id="usernameVaild" class="valid-feedback"></div>
                        <div id="usernameError" class="invalid-feedback"></div>
                        <input type="hidden" name="usernameChk" id="usernameChk" value="{{ user.auth_user.username }}">
                        <input type="hidden" name="usernameChkUrl" id="usernameChkUrl" value="">
                    </div>
                    <div style="padding: 0;">
                        <input type="button" class="btn btn-sm btn-primary" value="중복 확인" data-url="{% url 'accounts:check_username' %}" onclick="chkUserName(this);">
                    </div>
                </td>
            </tr>
            <tr>
                <th>이름</th>
                <td>
                    <input type="text" id="name" name="name" class="form-control form-control-sm" value="{{ user.auth_user.first_name }}">
                </td>
            </tr>
            <tr>
                <th>E-Mail</th>
                <td>
                    <div style="display: flex;">
                        {% load custom_filters %}
                        {% with address_parts=user.auth_user.email|split:"@" %}
                        <input type="email" class="form-control form-control-sm" id="emailLocal" name="emailLocal" value="{{ address_parts|index:0 }}" maxlength="20" onblur="chkEmail();">
                        <span>&nbsp;@&nbsp;</span>
                        <input type="text" class="form-control form-control-sm" name="emailDomain" id="emailDomain" value="{{ address_parts|index:1 }}" disabled>
                        <select id="emailDomainSelect" name="emailDomainSelect" class="form-control form-control-sm" onchange="emailDomainChange(this);">
                            <option value="naver.com" {% if address_parts|index:1 == 'naver.com' %}selected{% endif %}>naver.com</option>
                            <option value="gmail.com" {% if address_parts|index:1 == 'gmail.com' %}selected{% endif %}>gmail.com</option>
                            <option value="daum.net" {% if address_parts|index:1 == 'daum.net' %}selected{% endif %}>daum.net</option>
                            <option value="nate.com" {% if address_parts|index:1 == 'nate.com' %}selected{% endif %}>nate.com</option>
                            <option value="" {% if address_parts|index:1 not in 'naver.com gmail.com daum.net nate.com' %}selected{% endif %}>직접입력</option>
                        </select>
                        {% endwith %}
                        <input type="hidden" name="emailChk" id="emailChk" value="">
                        <input type="hidden" name="emailChkUrl" id="emailChkUrl" value="{% url 'accounts:check_email' %}">
                    </div>
                    <div id="emailError" class="invalid-feedback"></div>
                </td>
            </tr>
            <tr>
                <th>전화 번호</th>
                <td>
                    <input type="text" id="phone" name="phone" class="form-control form-control-sm" value="{{ user.phone_number }}">
                </td>
            </tr>
            <tr>
                <th>소속</th>
                <td>
                    <input type="text" id="department" name="department" class="form-control form-control-sm" value="{{ user.department }}">
                </td>
            </tr>
            <tr>
                <th>생년 월일</th>
                <td>
                    <input type="date" id="birth_date" name="birth_date" class="form-control form-control-sm" value="{{ user.birth_date|date:'Y-m-d' }}">
                </td>
            </tr>
            <tr>
                <th>주소</th>
                <td>
                    <input type="text" id="addressCode" name="addressCode" class="form-control form-control-sm" placeholder="우편번호" style="width: 50%; display: inline;" disabled value="{{ user.address_code }}">
                    <input type="button" id="zipp_btn" class="btn btn-sm btn-primary" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                    <input type="text" id="address" name="address" class="form-control form-control-sm" maxlength="40" placeholder="기본 주소를 입력하세요" required disabled value="{{ user.address }}" style="width:90% !important;">
                    <input type="text" id="addressDetail" name="addressDetail" class="form-control form-control-sm" maxlength="40" placeholder="상세 주소를 입력하세요" value="{{ user.address_detail }}" style="width:90% !important;">
                </td>
            </tr>
            <tr>
                <th>활동상태</th>
                <td>
                    <input type="hidden" class="form-control form-control-sm" id="active_status" name="active_status" value="{{ user.active_status }}">
                    <select id="active_status_select" name="active_status_select" class="form-control form-control-sm" onchange="chagneSelect(this);">
                        <option value="0" {% if user.active_status == 0 %}selected{% endif %}>Inactive</option>
                        <option value="1" {% if user.active_status == 1 %}selected{% endif %}>Active</option>
                        <option value="2" {% if user.active_status == 2 %}selected{% endif %}>On Leave</option>
                        <option value="3" {% if user.active_status == 3 %}selected{% endif %}>Retired</option>
                        <option value="4" {% if user.active_status == 4 %}selected{% endif %}>Rejection</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="mb-3 d-flex justify-content-between">
        <input type="button" class="btn btn-lg btn-primary flex-grow-1 me-2" style="max-width: fit-content;" value="뒤로가기" onclick="history.back();">
        <input class="btn btn-lg btn-primary flex-grow-1" style="max-width: fit-content;" type="button" value="수정하기" onclick="infoEdit();">
    </div>
</form>
<script>
    function chagneSelect(obj) {
        inputObj = obj.id.replace('_select', '');
        $("#" + inputObj).val(obj.value);
    }
</script>
{% endblock %}