{% extends 'base_manager.html' %}
{% block title %}퇴사 및 휴직 관리{% endblock %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div>
        <h2>퇴사 및 휴직 관리</h2>
    </div>
    <div class="dashboard">
        <div>
            <ul>
                <li>
                    <input type="text" class="form-control" id="seachText" name="seachText" placeholder="검색창">
                </li>
                <li>
                    <input type="submit" class="btn btn-primary" value="검색">
                </li>
            </ul>
        </div>
        <div>
            <td colspan="7">총 {{ data|length }}건</td>
        </div>
        <div>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>회원번호</th>
                        <th>이름</th>
                        <th>아이디</th>
                        <th>E-mail</th>
                        <th>소속</th>
                        <th>역할</th>
                        <th>가입 요청 일자</th>
                        <th>활동상태</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr data-url="{% url 'management:detail' item.id %}" class="active-row">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.department }}</td>
                        <td>{{ item.is_superuser }}</td>
                        <td>{{ item.date_joined }}</td>
                        <td>{{ item.active_status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}