<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quitter Users</title>
    <style>
        .dashboard {
            width: 80%;
            margin: 0 auto;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <script type="text/javascript">
        $(document).ready(function () {
            $("tr[data-url]").click(function () {
                var url = $(this).data("url");
                window.location.href = url;
            });
        });
    </script>
    <form action="" method="GET">
        <a href="{% url 'management:inactive' %}">전체</a>
        <a href="{% url 'management:retire'%}">퇴사</a>
        <a href="{% url 'management:leave'%}">휴직</a>
        <a href="{% url 'management:reject'%}">거부</a>
        <div class="dashboard">
            <input type="text" placeholder="..." style="width:100%;">
            <button type="submit">검색</button>
            <br><br>
            <table>
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>비활성화</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr data-url="{% url 'management:inactive_detail' item.id %}" style="cursor: pointer;">    
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.email }}</td>
                        <td>
                            <a href="#">비활성화</a>
                            {% comment %} <a href="{% url 'management:reject_user' item.id %}" class="reject-btn">거부</a> {% endcomment %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
</body>
</html>
