{% extends 'base_manager.html' %}
{% block title %}가입승인{% endblock %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr[data-url]").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
    });
</script>
<style>
    .dashboard {
        margin: 0;
        padding: 0;
        display: inline;
    }

    .dashboard>div>ul>li {
        display: inline;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    ul>li {
        margin: 0;
        padding: 0;
    }

    table {
        width: 100%;
    }

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .styled-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
    }

    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }

    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }

    .styled-table tbody tr.active-row {
        font-weight: bold;
        color: #009879;
        cursor: pointer;
    }
</style>
<form action="" method="GET">
    <div class="dashboard">
        <div>
            <ul>
                <li>
                    <input type="text" class="form-control" id="seachText" name="seachText" placeholder="검색창">
                </li>
                <li>
                    <button>검색</button>
                </li>
            </ul>
        </div>
        <div>
            <td colspan="7">총 {{ data|length }}건</td>
        </div>
        <div>
            <table class="styled-table">
                <thead>
                    <th>index</th>
                    <th>이름</th>
                    <th>아이디</th>
                    <th>E-mail</th>
                    <th>역할</th>
                    <th>가입 요청 일자</th>
                    <th>회원 가입 승인</th>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr data-url="{% url 'management:management_detail' item.id %}" class="active-row">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.ID }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.역할}}</td>
                        <td>{{ item.가입요청일자}}</td>
                        <td><a href="{% url 'management:approve_user' item.id %}" class="approve-btn">승인</a>
                            {% comment %} <a href="{% url 'management:reject_user' item.id %}" class="reject-btn">거부</a> {% endcomment %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}