{% extends 'base_manager.html' %}
{% block title %}직원정보 수정{% endblock %}


{% block content %}
<form class="form-signin" th:action="@{/account/signup}" method="post" th:object="${member}">
    <h1 class="h3 mb-3 fw-normal">직원정보 수정</h1>
    <hr>

    <input type="hidden" class="form-control" th:field="*{id}" th:readonly="readonly">
    <input type="hidden" class="form-control" th:field="*{role}" th:readonly="readonly">

    <!-- 이메일 입력 -->
    <div class="mb-3">
        <label th:for="username">이메일</label>
        <input type="email" class="form-control" th:field="*{username}" th:readonly="readonly">
    </div>

    <!-- 닉네임 입력 -->
    <div class="mb-3">
        <label th:for="nickname">닉네임</label>
        <input type="text" class="form-control" th:field="*{nickname}" oninput="nicknameModify()">
        <span class="nickname_ok">사용 가능한 이름입니다.</span>
        <span class="nickname_already">누군가 이 이름을 사용하고 있어요.</span>
    </div>

    <!-- 생년월일 입력 -->
    <label class="mb-3 form-label" for="birth">생년월일</label>
    <div class="mb-3" id="birth" onchange="checkAgeModify()">
        <!-- 연도 선택 -->
        <div class="birth dropdown">
            <select class="form-control" id="year" name="year">
                <!-- 연도 옵션들 -->
            </select>
        </div>

        <!-- 월 선택 -->
        <div class="birth mx-1 dropdown">
            <select class="form-control" id="month" name="month">
                <!-- 월 옵션들 -->
            </select>
        </div>

        <!-- 일 선택 -->
        <div class="birth dropdown">
            <select class="form-control" id="day" name="day">
                <!-- 일 옵션들 -->
            </select>
        </div>
        <span id="birth_check_msg"></span>
    </div>

    <!-- 나이 입력 -->
    <div class="mb-3">
        <label for="age">나이</label>
        <input type="text" class="form-control" id="age" th:readonly="readonly">
    </div>

    <!-- 성별 입력 -->
    <div class="mb-3">
        <label th:for="gender">성별</label>
        <input type="text" class="form-control" id="gender" name="gender" th:value="*{gender.value}" hidden>
        <input type="text" class="form-control" th:value="*{gender.title}" readonly>
    </div>

    <!-- 수정 버튼 -->
    <div class="mb-3">
        <button class="w-100 btn btn-lg btn-primary" type="submit" onclick="return modifyCheckAll()">수정</button>
    </div>

    <!-- 취소 버튼 -->
    <div class="mb-3">
        <a type="button" style="color:white" class="w-100 btn btn-lg btn-secondary"
            onclick="window.history.back();">취소</a>
    </div>
</form>
{% endblock %}