<!-- main/templates/main/admin_dashboard.html -->
{% extends 'base_manager.html' %}

{% block title %}직원관리{% endblock %}

{% block content %}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr[data-url]").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
    });
</script>

<form action="{% url 'management:search' %}" method="POST">
    {% csrf_token %}
    <div class="dashboard">
        <div>
            <ul>
                <li>
                    <input type="text" class="form-control" id="seachText" name="seachText" placeholder="검색창" value="{{ query }}">
                </li>
                <li>
                    <button type="submit">검색</button>
                </li>
            </ul>
        </div>
        <div>
            <td colspan="7">총 {{ data|length }}건</td>
        </div>
        <div>
            <table class="styled-table">
                <thead>
                    <th>회원번호</th>
                    <th>이름</th>
                    <th>아이디</th>
                    <th>E-mail</th>
                    <th>소속</th>
                    <th>역할</th>
                    <th>가입일자</th>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr data-url="{% url 'management:detail' item.id %}" class="active-row">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.username }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.소속 }}</td>
                        <td>{{ item.is_superuser }}</td>
                        <td>{{ item.date_joined }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}
