{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% load static %}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr[data-url]").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
    });
</script>
<link rel="stylesheet" href="{% static 'education/css/history.css' %}">


<form action="" method="POST">
    {% csrf_token %}
    <div class="">

        <div>
            <h1>롤플레잉 이력</h1>
        </div>
        <div class="search-container">
            <input type="text" class="form-control search-input" id="searchText" name="searchText" placeholder="검색창">
            <select class="form-control search-select" name="category">
                <option value="">카테고리 선택</option>
                <option value="부가서비스">부가서비스</option>
                <option value="서비스정책">서비스정책</option>
                <option value="요금관련">요금관련</option>
            </select>
            <input type="submit" class="btn btn-primary search-button" value="검색">
        </div>
        <div>
            <p>총 {{ logs.paginator.count }}건</p>
        </div>
        <div>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>카테고리</th>
                        <th>날짜</th>
                        <th>사용자</th>
                    </tr>
                </thead>
                <tbody>
                    {% if logs %}
                    {% for log in logs %}
                    <tr data-url="{% url 'education:edu_details' log.id %}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ log.body.category }}</td>
                        <td>{{ log.create_time|date:"Y-m-d H:i" }}</td>
                        <td>{{ log.user_id.username }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">롤플레잉 이력이 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <div class="step-links">
                {% if logs.has_previous %}
                <a href="?page=1">&laquo; 처음</a>
                <a href="?page={{ logs.previous_page_number }}">이전</a>
                {% endif %}

                <span class="current">
                    페이지 {{ logs.number }} / {{ logs.paginator.num_pages }}
                </span>

                {% if logs.has_next %}
                <a href="?page={{ logs.next_page_number }}">다음</a>
                <a href="?page={{ logs.paginator.num_pages }}">마지막 &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
</form>

{% endblock %}