{% extends 'base.html' %}

{% block title %}로그 상세 정보{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'education/css/styles.css' %}">

<div class="dashboard">
    <div class="section chat-section">
        <div class="log-info">
            <span>카테고리: </span><span>{{ head.category }}</span>
            <span> | </span>
            <span>날짜: </span><span>{{ head.create_time|date:"Y-m-d H:i" }}</span>
            <span> | </span>
            <span>사용자: </span><span>{{ head.auth_user.username }}</span>
        </div>
        <div class="chat-header">
            <span>채팅 내용</span>
        </div>
        <div class="chat-container">
            <div id="chat-content" class="chat-box" style="white-space: pre-line;">
                {% for item in data %}
                {% if item.user %}
                <div class="message-user">{{ item.user }}</div>
                {% endif %}
                <div class="message-bot">{{ item.chatbot }}</div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="section chat-section-readonly">
        <div class="chat-header">평가 봇</div>
        <div class="chat-container">
            <div id="readonly-chat-content" class="chat-box" style="white-space: pre-line;">
                {% for item in data %}
                {% if item.user %}
                <div class="message-user">{{ item.user }}</div>
                <div class="message-bot">{{ item.evaluate  }}</div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="submit-container">
    <a onclick="history.back()" class="submit-button no-underline">돌아가기</a>
</div>
{% endblock %}