{% extends 'base.html' %}

{% block title %}AI 트레이너{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'education/css/styles.css' %}">

<input type="hidden" name="csrf" id="csrf" value="{{ csrf_token }}">
<input type="hidden" name="log-header" id="log-header" value="">
<input type="hidden" name="category-selected" id="category-selected" value="">

<div class="loading" style="display: none;">
    <img src="/static/main/images/loading.gif"/>
    <h3>AI 고객이 전화거는중...</h3>
</div>

<div class="dashboard">

    {% comment %} 카테고리 선택 페이지 {% endcomment %}
    <div id="category-selection" class="section category-section">
        <span class="menu-header">카테고리를 선택하세요:</span>
        <div class="category-buttons">
            <button class="category-button" onclick="selectCategory('모바일 > 부가서비스')">부가서비스</button>
            <button class="category-button" onclick="selectCategory('모바일 > 서비스정책')">서비스정책</button>
            <button class="category-button" onclick="selectCategory('모바일 > 요금관련')">요금관련</button>
        </div>
    </div>

    {% comment %} 안내서 {% endcomment %}
    <div id="guide-section" class="section category-section">
        <span class="menu-header">안내</span>
        <p>• 카테고리를 선택하면 AI 고객이 해당 카테고리에 맞게 상담을 요청합니다.</p>
        <p>• AI는 실수를 할 수 있습니다.  너그럽게 이해해 주세요.</p>
        <p>• AI 고객의 답변과 AI기반 평가는 함께 생성됩니다. 속도가 느려도 양해 부탁드립니다.</p>
    </div>

    {% comment %} 챗봇 입력/출력 {% endcomment %}
    <div id="chat-section" class="section chat-section hidden">
        <div class="chat-header">
            <span>선택된 카테고리: </span><span id="selected-category"></span>
        </div>
        <div class="chat-container">
            <div id="chat-content" class="chat-box" style="white-space: pre-line;"></div>
            <form id="chat-form" action="{% url 'education:chat_view' %}" method="post" onsubmit="sendMessage(event)">
                {% csrf_token %}
                <div class="input-container">
                    <textarea id="question" name="message" placeholder="message..." oninput="autoResize.call(this)"></textarea>
                    <button id="text-button" type="submit">Send</button>
                </div>
            </form>
            <div class="button-container">
                <button id="start-button" class="mic-button" onclick="startEducation()">
                    <i class="fas fa-microphone"></i> 마이크 연결
                </button>
                <button id="stop-button" class="mic-button" onclick="stopEducation()" disabled>
                    <i class="fas fa-microphone-slash"></i> 마이크 연결 끊기
                </button>
            </div>
        </div>
    </div>

    {% comment %} 읽기 전용 {% endcomment %}
    <div id="chat-section-readonly" class="section chat-section-readonly hidden">
        <div class="chat-header">AI기반 평가 봇</div>
        <div class="chat-container">
            <div id="readonly-chat-content" class="chat-box" style="white-space: pre-line;"></div>
        </div>
    </div>
</div>

<div class="submit-container hidden" id="submit-container" style="justify-content: flex-end;">
    <button type="button" class="submit-button" data-url="{% url 'education:chat_view' %}" onclick="resetToCategorySelection(this)">종료</button>
</div>

<script src="{% static 'education/js/scripts.js' %}"></script>
{% endblock %}