{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% load static %}
<script type="text/javascript">
    $(document).ready(function () {
        $("tr[data-url]").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
    });
</script>
<link rel="stylesheet" href="{% static 'education/css/history.css' %}">

<form method="GET" action="{% url 'education:quiz_history' %}">
    <div class="dashboard">
        <div>
            <h1>퀴즈 이력(색 조합 고민중)</h1>
        </div>
        <div class="search-container">
            <input type="text" class="form-control search-input" id="searchText" name="searchText" placeholder="검색창">
            <select class="form-control search-select" name="category">
                <option value="">카테고리 선택</option>
                <option value="0">Additional</option>
                <option value="1">Policies</option>
                <option value="2">Charges</option>
            </select>
            <select class="form-control search-select" name="result">
                <option value="">결과 선택</option>
                <option value="pass">통과</option>
                <option value="fail">실패</option>
            </select>
            <button type="submit" class="btn btn-primary search-button">검색</button>
        </div>
        <div>
            <p>총 {{ logs.paginator.count }}건</p>
        </div>
        <div>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>카테고리</th>
                        <th>결과</th>
                        <th>날짜</th>
                        <th>사용자</th>
                    </tr>
                </thead>
                <tbody>
                    {% if logs %}
                    {% for log in logs %}
                    <tr data-url="{% url 'education:quiz_details' log.id %}">
                        <td>{{ forloop.counter0|add:logs.start_index }}</td>
                        <td>{{ log.get_category_display }}</td>
                        <td>{{ log.is_passed|yesno:"통과,실패" }}</td>
                        <td>{{ log.create_time|date:"Y-m-d H:i" }}</td>
                        <td>{{ log.user_id.username }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="5">퀴즈 이력이 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <div class="step-links">
                {% if logs.has_previous %}
                    <a href="?page=1">&laquo; 처음</a>
                    <a href="?page={{ logs.previous_page_number }}">이전</a>
                {% endif %}

                <span class="current">
                    페이지 {{ logs.number }} / {{ logs.paginator.num_pages }}
                </span>

                {% if logs.has_next %}
                    <a href="?page={{ logs.next_page_number }}">다음</a>
                    <a href="?page={{ logs.paginator.num_pages }}">마지막 &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
