{% extends 'base.html' %}

{% block title %}Quiz Detail{% endblock %}

{% block content %}
<div class="dashboard">
    <h1>퀴즈 상세보기</h1>
    <div class="log-detail">
        <p><strong>번호:</strong> {{ log.id }}</p>
        <p><strong>카테고리:</strong> {{ log.get_category_display }}</p>
        <p><strong>결과:</strong> {{ log.is_passed|yesno:"통과,실패" }}</p>
        <p><strong>날짜:</strong> {{ log.create_time|date:"Y-m-d H:i" }}</p>
        <p><strong>사용자:</strong> {{ log.user_id.username }}</p>
    </div>
</div>
{% endblock %}