<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EZCS{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function openContractPopup() {
            var width = 800;
            var height = 600;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;
            window.open("{% url 'main:contract' %}", "Terms and Conditions", "width=" + width + ",height=" + height + ",top=" + top + ",left=" + left);
        }

        function openPrivacyPopup() {
            var width = 800;
            var height = 600;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;
            window.open("{% url 'main:privacy' %}", "Privacy Policy", "width=" + width + ",height=" + height + ",top=" + top + ",left=" + left);
        }

        document.addEventListener('DOMContentLoaded', function () {
            var sidebar = document.getElementById('sidebar');
            var btnCollapse = document.getElementById('btn-collapse');
            var btnExpand = document.getElementById('btn-expand');
            var content = document.querySelector('.content');
            var headerRight = document.querySelector('.header-right');
        
            function toggleSidebar() {
                sidebar.classList.toggle('collapsed');
                content.classList.toggle('expanded');
                headerRight.classList.toggle('expanded');
                btnCollapse.style.display = btnCollapse.style.display === 'none' ? 'block' : 'none';
                btnExpand.style.display = btnExpand.style.display === 'none' ? 'block' : 'none';
            }
        
            btnCollapse.addEventListener('click', toggleSidebar);
            btnExpand.addEventListener('click', toggleSidebar);
        });

    </script>
</head>

<body>
    <div class="sidebar" id="sidebar">
        <div>
            {% comment %} <a href="{% url 'main:user_dashboard' %}"><img src="{% static 'main/images/EZCS.png' %}" alt="EZCS Logo" class="ezcs-logo"></a>
            <p class="menu-title">MAIN MENU</p> {% endcomment %}
            <div class="sidebar-toggle-wrapper" style="height: 80px; padding-left: 10px; border-bottom: 1px solid #e0e0e0; display: flex; align-items: center;">
                {% comment %} <i class="fas fa-bars sidebar-toggle"></i> {% endcomment %}
                <button id="btn-collapse" class="fas fa-bars sidebar-toggle" style="display: none;"></button>
                <button id="btn-expand" class="fa fa-chevron-left sidebar-toggle" style="display: block;"></button>
            </div>
            <ul class="menu">
                <li class="has-submenu">
                    <a href="{% url 'main:user_dashboard' %}" class="{% if request.path == '/' %}active{% endif %}"><i class="fa fa-home icon"></i><span class="text">대시보드</span></a>
                </li>
                <li class="has-submenu">
                    <a href="{% url 'counseling:counsel' %}" class="{% if request.path == '/counseling/' %}active{% endif %}"><i class="fas fa-comments icon"></i><span class="text">AI 상담</span></a>
                    <ul class="submenu">
                        <li><a href="{% url 'counseling:history' %}" class="{% if request.path == '/counseling/history/' %}active{% endif %}"><span class="text">AI 상담 이력</span></a></li>
                    </ul>
                </li>
                <li class="has-submenu">
                    <a href="{% url 'education:chat_view' %}" class="{% if request.path == '/education/' %}active{% endif %}"><i class="fas fa-chalkboard-teacher icon"></i><span class="text">AI 트레이너</span></a>
                    <ul class="submenu">
                        <li><a href="{% url 'education:edu_history' %}" class="{% if request.path == '/education/edu_history/' %}active{% endif %}"><span class="text">AI 트레이너 이력</span></a></li>
                        {% comment %} <li><a href="{% url 'education:edu_details' %}" class="{% if request.path == '/education/edu_details/' %}active{% endif %}">AI 트레이너 이력 상세(개발용)</a></li> {% endcomment %}
                        <li><a href="{% url 'education:quiz' %}" class="{% if request.path == '/education/quiz/' %}active{% endif %}"><span class="text">퀴즈</span></a></li>
                        <li><a href="{% url 'education:quiz_history' %}" class="{% if request.path == '/education/quiz_history/' %}active{% endif %}"><span class="text">퀴즈 이력</span></a></li>
                        {% comment %} <li><a href="{% url 'education:quiz_details' %}" class="{% if request.path == '/education/quiz_details/' %}active{% endif %}">퀴즈 이력 상세</a></li> {% endcomment %}
                    </ul>
                </li>
            </ul>
        </div>
        {% if not request.user.is_superuser %}
        <div>
            <ul class="menu">
                <li><a href="{% url 'main:edit_profile' %}" class="{% if request.path == '/edit_profile/' %}active{% endif %}"><i class="fa fa-user icon" aria-hidden="true"></i><span class="text">내 정보</span></a></li>
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="content">
        <div class="header">
            {% comment %} <button class="sidebar-toggle" id="sidebarToggle">☰</button> {% endcomment %}
            <div class="header-right">
                {% comment %} <div class="profile-info">{{ request.session.user }}님, 오늘 하루도 화이팅 하세요.</div> {% endcomment %}
                <div class="profile-info"><a href="{% url 'main:user_dashboard' %}"><img src="{% static 'main/images/EZCS.png' %}" alt="EZCS Logo" class="ezcs-logo"></a>{{ request.user }}님, 오늘 하루도 화이팅 하세요.</div>
                {% comment %} <div class="profile-info">{{ request.user }}님, 오늘 하루도 화이팅 하세요.</div> {% endcomment %}
                {% if request.user.is_superuser %}
                <div class="admin-page">
                    <a href="{% url 'management:list' 'm' %}">관리자 페이지</a>
                </div>
                {% endif %}
                <div class="logout">
                    <a href="{% url 'accounts:logout' %}">로그아웃</a>
                </div>
            </div>
        </div>
        <div class="main-content">
            {% block content %}
            대시보드 페이지
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="footer-content">
                <p><a href="javascript:void(0);" onclick="openPrivacyPopup();">개인정보 처리방침</a> | <a href="javascript:void(0);" onclick="openContractPopup();">이용약관</a></p>
                <p>㈜KT 에이블스쿨팀 충남/충북권역, 대표자: team21 </p>
                <p>&copy; 2024 aivleschool team21. All rights reserved.</p>
            </div>
        </footer>
    </div>
    <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordModalLabel">비밀번호 확인</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="passwordCheck" class="form-label">비밀번호</label>
                        <input type="password" class="form-control" id="passwordCheck" placeholder="비밀번호를 입력하세요">
                        <div class="invalid-feedback" id="passwordCheckError">비밀번호가 일치하지 않습니다.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" onclick="checkPassword()">확인</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>