<!-- templates/base_admin.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}관리자 페이지{% endblock %}</title>

    <link href="/static/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="/static/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="icon" href="{% static 'images/favicon.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}" />
    <link href="{% static '/css/management.css' %}" rel="stylesheet" />
    <link href="{% static 'management\css\login.css' %}" rel="stylesheet" />
    <script src="/static/js/management.js"></script>
    {% block extra_js %}{% endblock %}
    <script>
        function openContractPopup() {
            var width = 800;
            var height = 600;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;
            window.open("{% url 'main:contract' %}", "Terms and Conditions", "width=" + width + ",height=" + height + ",top=" + top + ",left=" + left);
        }

        function openPrivacyPopup() {
            var width = 800;
            var height = 600;
            var left = (screen.width - width) / 2;
            var top = (screen.height - height) / 2;
            window.open("{% url 'main:privacy' %}", "Privacy Policy", "width=" + width + ",height=" + height + ",top=" + top + ",left=" + left);
        }
    </script>
</head>
<style>
    .load {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        z-index: 9999;
        transition: all 0.3s;
    }

    img.infinite_rotating_logo {
        animation: rotate_image 1s linear infinite;
        transform-origin: 50% 50%;
    }

    @keyframes rotate_image {
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<body>
    <div id="load" class="load">
        <img src="{% static 'images/favicon.png' %}" alt="load" style="width: 50px;" class="infinite_rotating_logo">
    </div>

    <div class="header">
        <div class="company-name" style="font-size: x-large">관리자 페이지</div>
        <div class="header-right">
            <div class="profile-info">안녕하세요, {{ request.user.username }} 관리자님.</div>
            {% if request.user.is_superuser %}
            <div class="admin-page">
                <a href="{% url 'main:user_dashboard' %}">메인 페이지</a>
            </div>
            <div class="logout">
                <a href="{% url 'accounts:logout' %}">로그아웃</a>
            </div>
            {%endif%}
        </div>
    </div>
    <div class="container-fuild">
        <div style="margin-bottom: 0;padding-bottom: 0;">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if '/m/' in request.path %}active{% endif %}" style="font-size: 20px;" aria-current="page" href="{% url 'management:list' 'm' %}">직원 관리</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/a/' in request.path %}active{% endif %}" style="font-size: 20px;" href="{% url 'management:list' 'a' %}">가입 승인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/ad/' in request.path %}active{% endif %}" style="font-size: 20px;" href="{% url 'management:list' 'ad' %}">관리자 리스트</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/board/' in request.path %}active{% endif %}" style="font-size: 20px;" href="{% url 'management:board_list' %}">공지사항 목록</a>
                </li>

            </ul>
            {% comment %}
            <nav class="nev-form">
                <a class="btn btn-outline-primary" type="button" href="{% url 'management:list' 'm' %}">직원 관리</a>
                <a class="btn btn-outline-primary" type="button" href="{% url 'management:list' 'a' %}">가입 승인</a>
            </nav>
            {% endcomment %}
        </div>
        <div class="content">
            <div class="main-content">
                {% block content %}
                {% endblock %}
            </div>
            <footer class="footer">
                <div class="footer-content">
                    <p><a href="javascript:void(0);" onclick="openPrivacyPopup();">개인정보 처리방침</a> | <a href="javascript:void(0);" onclick="openContractPopup();">이용약관</a></p>
                    <p>㈜KT 에이블스쿨팀 충남/충북권역, 대표자: team21 </p>
                    <p>&copy; 2024 aivleschool team21. All rights reserved.</p>
                </div>
            </footer>
        </div>
    </div>
</body>
<script>
    const loading_page = document.getElementById("load");
    window.onload = function () {
        loading_page.style.display = 'none';
    }
</script>

</html>