<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Investor Dashboard{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>

<body>
    <div class="sidebar" id="sidebar">
        <div>
            <h1>EZCS</h1>
            <p class="menu-title">MAIN MENU</p>
            <ul class="menu">
                <li><a href="{% url 'main:user_dashboard' %}">대시보드</a></li>
                <li><a href="{% url 'counseling:list' %}">상담</a></li>
                <li class="has-submenu {% if request.path == '/education/' %}active{% endif %}">
                    <a href="{% url 'education:chat_view' %}">교육</a>
                    <ul class="submenu">
                        <li><a href="{% url 'education:edu_history' %}" class="{% if request.path == '/education/edu_history' %}active{% endif %}">롤플레잉 이력</a></li>
                        <li><a href="{% url 'education:edu_details' %}" class="{% if request.path == '/education/edu_details/' %}active{% endif %}">롤플레잉 이력 상세(개발용)</a></li>
                        <li><a href="{% url 'education:quiz' %}" class="{% if request.path == '/education/quiz/' %}active{% endif %}">퀴즈</a></li>
                        <li><a href="{% url 'education:quiz_history' %}" class="{% if request.path == '/education/quiz_history/' %}active{% endif %}">퀴즈 이력</a></li>
                        <li><a href="{% url 'education:quiz_details' %}" class="{% if request.path == '/education/quiz_details/' %}active{% endif %}">퀴즈 이력 상세</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <ul class="menu">
                <li><a href="#">내 정보</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="header">
            <button class="sidebar-toggle" id="sidebarToggle">☰</button>
            <div class="header-right">
                {% if request.session.user %}
                <div class="profile-info">{{ request.session.user }}님, 오늘 하루도 화이팅 하세요.</div>
                <div class="logout">
                    <a href="{% url 'accounts:logout' %}">로그아웃</a>
                </div>
                <div class="profile-edit">
                    <a href="{% url 'main:edit_profile' %}">회원정보 수정</a> <!-- 추가 -->
                </div>
                {% else %}
                <div class="logout">
                    <a href="{% url 'accounts:login' %}">로그인</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="main-content">
            {% block content %}
            대시보드 페이지
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="footer-content">
                <p><a href="#">개인정보 처리방침</a> | <a href="#">이용약관</a></p>
                <p>㈜KT 에이블스쿨팀 충남/충북권역 대표자: team21 </p>
                <p>&copy; 2024 aivleschool team21. All rights reserved.</p>
            </div>
        </footer>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'main/js/edit_profile.js' %}"></script> <!-- 수정 -->
</body>

</html>