<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Investor Dashboard{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div>
            <h1>EZCS</h1>
            <p class="menu-title">MAIN MENU</p>
            <ul class="menu">
                <li><a href="{% url 'main:user_dashboard' %}"><span class="icon">🏠</span> 대시보드</a></li>
                <li><a href="{% url 'counseling:list' %}"><span class="icon">💱</span> 상담</a></li>
                <li class="has-submenu">
                    <a href="#"><span class="icon">📊</span> 교육</a>
                    <ul class="submenu">
                        <li><a href="{% url 'education:chat_view' %}" class="active">롤플레잉</a></li>
                        <li><a href="{% url 'education:quiz' %}">퀴즈</a></li>
                        <li><a href="{% url 'education:edu_history' %}">교육 이력</a></li>
                        <li><a href="{% url 'education:details' %}">교육 이력 상세(개발용)</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <ul class="menu">
                <li><a href="#">Community</a></li>
                <li><a href="#">Help & Support</a></li>
                <li><a href="#">Settings</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="header">
            <button class="sidebar-toggle" id="sidebarToggle">☰</button>
            <div class="header-right">
                {% if user %}
                <div class="profile-info">안녕하세요, {{ user }}님.</div>
                <div class="logout">
                    <a href="{% url 'accounts:logout' %}">로그아웃</a>
                </div>
                {% else %}
                <div class="logout">
                    <a href="{% url 'accounts:login' %}">로그인</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="main-content">
            {% block content %}
            대시보드 페이지
            {% endblock %}
        </div>
        <footer class="footer">
            <p>&copy; 2024 EZCS. All rights reserved.</p>
        </footer>
    </div>
    <script src="{% static 'js/menu.js' %}"></script>
    <script>
        document.getElementById('sidebarToggle').addEventListener('click', function() {
            var sidebar = document.getElementById('sidebar');
            sidebar.classList.toggle('active');
        });
    </script>
</body>
</html>
