{% extends 'base.html' %}
{% load static %}
{% block title %}AI 상담 이력 상세{% endblock %}
{% block content %}
<style>
    .main-content {
        display: block;
    }

    .all-div {
        display: flex !important;
        width: 100%;
    }
</style>
<!-- 직원용 대시보드 내용 -->
<div class="all-div">
    <div style="height: 100%; width: 30%;">
        <div class="customer-info" style="height: 446px; max-height: 100vh;">
            <h4>고객 정보</h4>
            <form id="customer-form" style="text-align-last: left;">
                <table style="width: 100%; border-collapse: separate; border-spacing: 0 15px;">
                    <tbody>
                        <tr>
                            <td>
                                <label for="customer-name">고객명</label>
                            </td>
                            <td>
                                <span style="margin-left: 16px;">{{ head.customer.name }}</span>
                            </td>
                            <td>
                                <label for="birthdate">생년월일</label>
                            </td>
                            <td>
                                <span style="margin-left: 15px;">{{ head.customer.birth_date }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="phone">전화번호</label>
                            </td>
                            <td>
                                {{ head.customer.phone_number }}
                            </td>
                            <td>
                                <label for="join-date">가입일</label>
                            </td>
                            <td>
                                <span style="margin-left: 15px;">{{ head.customer.joined_date }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="address">주소</label>
                            </td>
                            <td colspan="3">
                                <span style="margin-left: 30px;">{{ head.customer.address }}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>

        <div class="memo-section" style="height: 263px;">
            <h4>문의/조치 내용</h4>
            <form id="consultation-form" style="height: 80%; text-align-last: left;">
                <div class="memo-content" style="height: 100%;">
                    <table style="width: 100%; height: 100%;">
                        <colgroup>
                            <col width="10%">
                            <col width="*">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    <label for="inquiry-text">문의 내용</label>
                                </td>
                                <td>
                                    {% if head.inquiries %}
                                    {{ head.inquiries }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="action-text">조치 내용</label>
                                </td>
                                <td>
                                    {% if head.action %}
                                    {{ head.action }}
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

    <div style="height: 100%; width: 70%;">
        <div style="display: flex; height: 97%; width: 100%;">
            <div class="stt-content" style="height: 709px; max-height: 100vh; width: 40%;">
                <h4>고객-상담원</h4>
                <div class="stt">
                    <div id="transcription">
                        {% for item in data%}
                        {% if item.classify %}
                        <div class="output-msg counselor">
                            <strong>상담원:</strong> {{ item.message }}
                        </div>
                        {% else %}
                        <div class="output-msg customer">
                            <strong>고객:</strong> {{ item.message }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="stt-content" style="height: 709px; max-height: 100vh; width: 60%;">
                <h4>고객음성번역-챗봇추천응대멘트</h4>
                <div class="translation">
                    <div id="translation-content">
                        {% for item in data%}
                        {% if not item.classify %}
                        <div class="output-msg customer">
                            <strong>번역:</strong> {{ item.translate }}
                        </div>
                        <div class="chatbot-response">
                            {{ item.recommend }}
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <form action="{% url 'counseling:counsel' %}" method="get">
        <button id="save-button" type="button" class="submit-button" onclick="history.back();">
            <i class="fas fa-save"></i> 뒤로가기
        </button>
    </form>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="{% static 'counseling/js/scripts.js' %}"></script>
<script>window.username = "{{ username|safe }}";</script>
<link rel="stylesheet" href="{% static 'counseling/css/styles.css' %}">

{% endblock %}