{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'education/css/history.css' %}">

<script type="text/javascript">
    $(document).ready(function () {
        $("tr[data-url]").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
    });
</script>

<form action="{% url 'counseling:history' %}" method="POST">
    {% csrf_token %}
    <div class="dashboard">
        <div>
            <h1> 상담 이력</h1>
        </div>
        <div>
            <ul>
                <li>
                    <input type="text" class="form-control" id="searchText" name="searchText" placeholder="검색창">
                </li>
                <li>
                    <input type="submit" class="btn btn-primary" value="검색">
                </li>
            </ul>
        </div>
        <div>
            <p>총 {{ logs|length }}건</p>
        </div>
        <div>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>상담 내용</th>
                        <th>생성 시간</th>
                        <th>사용자 이름</th>
                    </tr>
                </thead>
                <tbody>
                    {% if logs %}
                    {% for log in logs %}
                    <tr>
                        <td>{{ log.id }}</td>
                        <td>{{ log.body }}</td>
                        <td>{{ log.create_time }}</td>
                        <td>{{ log.username }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4">상담 이력이 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}
