{% extends 'base.html' %}

{% block title %}AI 상담 이력{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'counseling/css/history.css' %}">

<script type="text/javascript">
    $(document).ready(function () {
        $("tr[data-url]").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
    });
    window.onkeydown = function () {
        var kcode = event.keyCode;
        if (kcode == 116) {
            history.replaceState({}, null, location.pathname);
        }
    }
</script>
<form action="{% url 'counseling:history' %}" method="GET">
    {% csrf_token %}
    <div class="dashboard">
        <div>
            <h3>AI 상담 이력</h3>
        </div>
        <div class="search-container">
            <ul>
                <li>
                    <select name="searchSelect" id="searchSelect" class="form-control" style="cursor: pointer;">
                        <option value="0" {% if searchSelect == '0' %}selected{% endif %}>전체</option>
                        <option value="1" {% if searchSelect == '1' %}selected{% endif %}>고객명</option>
                        <option value="2" {% if searchSelect == '2' %}selected{% endif %}>문의 사항</option>
                        <option value="3" {% if searchSelect == '3' %}selected{% endif %}>조치 사항</option>
                    </select>
                </li>
                <li><input type="text" class="form-control" id="searchText" name="searchText" placeholder="검색창" value="{{ searchText }}"></li>
                <li><span class="form-control my-span">AI 상담 일자</span></li>
                <li>
                    <input type="date" id="startDate" name="startDate" class="form-control" value="{{ startDate }}" onkeydown="return false" onchange="submit();">
                </li>
                <li><span class="form-control my-span">~</span></li>
                <li>
                    <input type="date" id="endDate" name="endDate" class="form-control" value="{{ endDate }}" onkeydown="return false" onchange="submit();">
                </li>
                <li><input type="submit" class="btn btn-primary" value="검색"></li>
            </ul>
        </div>

        <div>
            <p>총 {{ data.paginator.count }}건</p>
        </div>

        <div>
            <table class="styled-table">
                <colgroup>
                    <col width="7%">
                    <col width="10%">
                    <col width="*">
                    <col width="25%">
                    <col width="25%">
                    {% if request.user.is_superuser %}
                    <col width="10%">
                    {% endif %}
                </colgroup>
                <thead>
                    <tr>
                        <th>순번</th>
                        <th>고객 명</th>
                        <th>AI 상담 일자</th>
                        <th>문의 사항</th>
                        <th>조치 사항</th>
                        {% if request.user.is_superuser %}
                        <th>사용자</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if data %}
                    {% for item in data %}
                    <tr data-url="{% url 'counseling:detail' item.id %}" class="active-row">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ item.customer.name }}</td>
                        <td>{{ item.create_time }}</td>
                        <td>
                            {% if item.inquiries %}
                            {{ item.inquiries }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        <td>
                            {% if item.action %}
                            {{ item.action }}
                            {% else %}
                            -
                            {% endif %}
                        </td>
                        {% if request.user.is_superuser %}
                        <td>{{ item.auth_user.username }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td class="noneDataRow" colspan="5">AI 상담 이력이 없습니다.</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

        <div class="pagination">
            <div class="step-links">
                {% if data.has_previous %}
                <a href="?page=1">&laquo; 처음</a>
                <a href="?page={{ data.previous_page_number }}">이전</a>
                {% endif %}
                <span class="current">
                    페이지 {{ data.number }} / {{ data.paginator.num_pages }}
                </span>
                {% if data.has_next %}
                <a href="?page={{ data.next_page_number }}">다음</a>
                <a href="?page={{ data.paginator.num_pages }}">마지막 &raquo;</a>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}