/* body가 적용이 안되서 어쩔 수 없이 html에서 load */
/* body {
    font-family: 'GmarketSansMedium', Arial, sans-serif !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
} */
img.ezcs-logo {
    position: relative;
    width: 200px;
    height: auto;
    top: 0%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, 0%);
}
@media (max-width: 768px) {
    .ezcs-logo {
        width: 70px;
    }
    .logo-container {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .ezcs-logo {
        width: 50px;
    }
    .logo-container {
        padding: 10px;
    }
}

.my-form {
    width: 100% !important;
}
.username-input {
    display: flex;
}

.container-fluid {
    padding: 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.input-form-backgroud {
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    width: 100%;
}


h2 {
    text-align: center;
    color: #333;
    margin: 20px;
}

.form-floating {
    margin-bottom: 15px;
}


p {
    text-align: center;
    margin-top: 20px;
}

p a {
    color: #007bff;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.form-check-input {
    margin-right: 10px;
}

.my_container {
    max-width: 400px;
    text-align: center;
}

.form-check {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.input-form {
    max-width: 680px;
    padding: 25px;
    width: 100%;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
}

.input-form div {
    padding: 0;
}