{% comment %} #공지사항 상세# {% endcomment %}

{% block content %}
<div class="notice-detail-container">
    <p class="notice-date">{{ notice.create_time|date:"Y.m.d" }}</p>
    <h2 class="notice-title">{{ notice.title }}</h2>
    {% if notice.file %}
        {% if is_image %}
        <div class="notice-image">
            <img src="{{ notice.file.url }}" alt="공지사항 이미지">
        </div>
        {% endif %}
    {% endif %}
    <div class="notice-body">
        {{ notice.body|safe }}
    </div>
</div>
{% endblock %}
