@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tenada';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SUIT-Regular', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    color: #333;
}

.header {
    position: relative;
    z-index: 10; /* 헤더가 배경 위에 있도록 설정 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
.header img {
    height: 50px; /* 로고 크기 조정 */
}
.nav {
    display: flex;
    gap: 20px;
}
.nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.contact {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}
.main-content-wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.main-content {
    position: relative;
    z-index: 10; /* 메인 콘텐츠가 배경 위에 있도록 설정 */
    margin-top: 50px;
    margin-right: 300px;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    text-align: center; /* 가운데 정렬 */
    max-width: 800px; /* 최대 너비 설정 */
}
.main-content img {
    width: 100%; /* 이미지가 콘텐츠 영역의 전체 너비를 차지하도록 설정 */
    max-width: 800px; /* 이미지의 최대 너비를 설정 */
    height: auto; /* 이미지 비율을 유지하도록 설정 */
}
.main-content h1, .main-content h2 {
    color: black;
}

.main-content h1 {
    font-family: 'Tenada';
    font-size: 50px;
    color: #12229d;
}
.main-content h2 {
    font-size: 40px; /* h2 폰트 크기 조정 */
}
.main-content p {
    font-size: 30px;
    margin: 20px 0;
}
.button {
    background-color: #f2535A;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
}